<%-include("./partial/header.ejs")  %>

  <div class="manageUser-container">
    <div id="title">
      <h2>Manage Users</h2>
    </div>


    <%-include("./partial/add-user-modal.ejs")  %>
 
</body>

</html>